[submodule "02_external/Ironmon-Tracker"]
path = 02_external/Ironmon-Tracker
url = https://github.com/besteon/Ironmon-Tracker.git
[submodule "02_external/NatDexExtension"]
path = 02_external/NatDexExtension
url = https://github.com/CyanSMP64/NatDexExtension.git
branch = dev_new
